@import "tailwindcss";


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-custom {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee-custom:hover {
  animation-play-state: paused;
}